.container-form {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header-form {
  display: flex;
  justify-content: center;
}
.form-product {
  justify-content: center;
  display: flex;
  flex: 1;
}
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  column-gap: 40px;
  row-gap: 20px;

  width: 100%;
}
.separator {
  border: 0;
  border-top: 1px solid #000000;
  margin: 20px 0;
  width: 100%;
}



.field {
  display: flex;
  flex-direction: column;

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; // El input llena su celda del grid
  }
}


