<div class="page">
  <div class="header">
    <div class="search-bar">

      <input type="text" placeholder="Search.." (input)="facade.setSearchTerm($any($event.target).value)" />
    </div>


    <div class="button-add">
      <button (click)="openForm()">Agregar</button>
    </div>

  </div>

  <div class="table-container">
    @if (facade.isLoading()) {
    <p style="text-align: center; padding: 20px">Cargando productos...</p>
    } @else {
    <table class="product-table">
      <thead>
        <tr>
          <th>Logo</th>
          <th>Nombre del producto</th>
          <th>Descripción</th>
          <th>Fecha de liberación</th>
          <th>Fecha de reestructuración</th>
          <th></th>


        </tr>
      </thead>

      <tbody>
        <!-- Usamos el signal filteredProducts() de la fachada -->
        @for (product of facade.filteredProducts(); track product.id) {
        <tr>
          <td>
            @if (product.logo) {
            <img [src]="product.logo" [alt]="product.name" class="avatar" (error)="product.logo = ''" />
            } @else {
            <div class="avatar-placeholder">{{ product.name[0] }}</div>
            }
          </td>

          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.date_release | date: 'dd/MM/yyyy' }}</td>
          <td>{{ product.date_revision | date: 'dd/MM/yyyy' }}</td>

          <td class="actions-cell">
            <div class="dropdown-container">
              <!-- El botón de los tres puntos -->
              <button type="button" class="btn-dots" (click)="toggleMenu(product.id, $event)">
                &#8942;
              </button>

              <!-- El menú que aparece al dar click -->
              @if (activeMenuId === product.id) {
              <div class="dropdown-menu">
                <button type="button" (click)="editForm(product, $event)">Editar</button>
                <button type="button" class="delete-opt" (click)="openDeleteConfirm(product)">Eliminar</button>
              </div>
              }
            </div>
          </td>





        </tr>
        } @empty {
        <tr>
          <td colspan="5" style="text-align: center">No se encontraron productos.</td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>

  <div class="table-footer">
    <!-- Usamos el total real de coincidencias -->
    <span>{{ facade.totalFilteredResults() }} Resultados</span>

    <!-- Conectamos al nuevo método -->
    <select (change)="facade.setPageSize($any($event.target).value)">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
    </select>
  </div>


</div>

<app-dialog-form>
  <app-product-form-page></app-product-form-page>

</app-dialog-form>

@if (confirmService.isOpen()) {
<app-dialog-confirm [productName]="productToDelete?.name || ''" (confirm)="handleDelete()"
  (cancel)="confirmService.close()">
</app-dialog-confirm>
}