// Padre
.page {
  display: flex;
  background: #cccc;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.table-container {
  background-color: rgb(255, 255, 255);
  flex-shrink: 0;
}
.table-footer {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}
