/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com');


body {
  margin: 0;
  font-family: 'Roboto', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, button, select, textarea {
  font-family: inherit;
}
